{%extends "blogs/layout.html"%}
{%block title%}create{%endblock%}
{%block body%}

<div class="container">
  <button type="button" class="btn btn-dark"><a href="{%url 'home' %}">Back to Home</a></button>
  <div class="form-group">
    <h1>Add Post</h1>
    <form method="POST" enctype="multipart/form-data">
      {%csrf_token%}
      <div class="mb-3">
        {{form.media}}
        {{form.as_p}}

        <button type="submit" class="btn btn-secondary" value="Save">Post</button>
      </div>

    </form>
  </div>
</div>

<script>
  var name = "{{user.id}}";
  document.getElementById("elder").value = name;
</script>

{%endblock%}