{%extends "blogs/layout.html"%}
{% block title %}Delete {{object.title}} {% endblock %}



{%block body%}
{%if user.is_authenticated %}
{%if user.id == object.author.id %}
    <h1>{{object.title}}</h1>
    <a href="{%url 'home'%}">Go back to Home</a>    
    
    <form method="post">{% csrf_token %}
        <!-- form as paragraph, form as table, form as list -->

        <strong>Are You sure?</strong><br>
        <button class="btn btn-outline-danger">Delete</button>
    </form>
  {%else%}
  <h1>Sorry, you cannot access this page.</h1>
{%endif%}
{%endif%}
  {%endblock%}