{%extends "blogs/layout.html"%}
{% block title %}Update {{object.title}} {% endblock %}

{%block body%}
{%if user.is_authenticated%}
{%if user.id == object.author.id%}    <h1>This is the Blog</h1>
    <a href="{%url 'home'%}">Home</a>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- form as paragraph, form as table, form as list -->
        {{form.media}}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>

 {%else%}
 <h1>You cannot access this page.</h1>   
  {%endif%}
  {%endif%}
{%endblock%}